body {
  background-color: hsl(30, 54%, 90%);
}

article {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}




.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }