body {
  background-color: hsl(30, 54%, 90%);
}

article {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 1rem;
}

h3 {
  color: hsl(14, 45%, 36%);
}



.attribution {
  font-size: 11px;text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}